div {
    margin-bottom: 20px;
}
label {
    display: inline-block;
    width: 140px;
    text-align: left;
}
.label1 {
    display: inline-block;
    width: 150px;
    text-align: left;   
}

.session {
    border: 1px solid green;
    margin: auto;
    width: fit-content;
    align-self: left;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.dragonBackground {
    background-attachment: fixed;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.loginBackround{
    background-image: linear-gradient(120deg, #d4fc79 0%, #ffffff88 100%);
}

.center {
    position:relative;
    left: 60px;
}

.center1 {
    border: 4px solid;
    margin:auto;
    width:fit-content;
    align-self: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 0%;
    padding-top: 0%;
}

.centerNoBorder {
    margin:auto;
    width:fit-content;
    align-self: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 0%;
    padding-top: 0%;
}

.left1 {
    border: 4px solid;
    width:fit-content;
    align-self: left;
    text-align: center;
    padding: 20px;
    padding-bottom: 0%;
    padding-top: 0%;
}

.leftNoBorder {
    width:fit-content;
    align-self: left;
    padding: 20px;
    padding-bottom: 0%;
    padding-top: 0%;
}

.left2 {
    border: 4px solid;
    width:fit-content;
    align-self: left;
    padding: 20px;
    padding-bottom: 0%;
    padding-top: 0%;
}

.left {
    position:relative;
    left: 60px;
}

.img_style{
    width: 100px; 
    height: 69px; 
}

.center_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.spacing{
    margin-top: 5%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: right;

}

textarea{
    resize: none;
}

.font_style{
    font-size: 26px;
}

.margin{
    margin-right: -21.5%;
}

.button1 {
    color: #000000;
    background-color: #3eb00c;
    font-size: 15px;
    border: 2px solid #000000;
    padding: 10px 30px;
    cursor: pointer
    
}
.button1:hover {
    color: #ffffff;
    background-color: #0dc991;
}
