.flexContainer{
    display: flex;   
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid{
    display: grid;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-image: linear-gradient(120deg, #91ff00 0%, #afde71 100%);
    padding: 10px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2 {
    grid-column-start: 4;
    grid-column-end: 6;
    margin-top: 5%;
}

.styleDate{
    border-radius:10px;
    border-color: greenyellow;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.614);
}
