.flexContainer{
    display: flex;   
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid{
    display: grid;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 15px;
    gap: 10px;
    background-image: linear-gradient(120deg, #91ff00 0%, #afde71 100%);
    padding: 10px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.item2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
}

.item3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    
    text-align: left;
}

.item4{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start:2 ;
    grid-row-end:3 ;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    margin-top: -10px;

}

.styleDate{
    border-radius:10px;
    border-color: greenyellow;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.614);
}

.imgStyle{
    height: 70px;
}

.center_container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin-top: 0%;
}

.upvotes{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color:black;
    font-size: 15px;
    border:3px solid black;
    width: fit-content;
    margin-left:5px;
    align-self:flex-start
}
